
body{
    background-color : #333;
}

div#content{
    padding-top : 20px;
    margin-left : 20px;
    width : 800px;
    background-color : #FFF;
}

div#head{
    text-align : center;
}

h1{
    font-size : 20pt;
}

form#chat{

}

div#chat{
    margin : 10px;
}

div#robot{
    position: fixed;
    top: 100px;
    left: 830px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color : #FFF;
}

ul.chat{
    width : 100%;
}

li.chat{
    vertical-align : bottom;
    padding : 5px;
    font-size : 15pt;
}

span.chat{
    margin-left : 5px;
}

span.time{
    font-size : 12pt;
    color : #666;
    margin-left : 5px;
}

li.local{
    text-align : left;
}

li.grobal{
    text-align : left;
}
